* {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.container {
	display: flex;
	flex-direction: column;
	padding: 3rem 5rem;
	max-width: 600px;
	min-width: 250px;
	margin: auto;
}

textarea {
	resize: vertical;
	padding: 1rem;
	border-radius: 0;
	border: 1px solid #333;
	font-size: 1.2rem;
}

.svg-canvas {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	margin-top: 2rem;
	border: 1px solid #333;
}

.custom-btn {
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 35px 0 35px;
	font-weight: bolder;
	background-color: #4285f4;
	color: white;
	border: none;
	cursor: pointer;
}

.custom-btn:hover {
	background-color: #357ae8;
	border: none;
}

.logo-container {
	display: flex;
}

.logo {
	height: 100%;
	width: 30px;
	margin-right: 1rem;
}

.instruction {
	height: 100%;
	width: 24px;
}

.navbar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	opacity: 0.95;
}

.bg-dark {
	background: #333;
	color: #fff;
}

.footer {
	justify-content: space-between;
	text-align: center;
	align-items: center;
	padding: auto;
	padding-top: 3rem;
	width: 100%;
	bottom: 0;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
	display: block;
	max-width: 60%;
	max-height: 80%;
	margin: 60px auto;
	box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
	border: 3px solid white;
}

.modal-header {
	padding: 2px 1rem;
	background-color: #333;
	color: white;
}

.modal-body {
	padding: 3rem 16px;
	padding-top: 1rem;
}
.modal-body p {
	font-size: 0.8rem;
	line-height: 2;
}
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 14% 20%;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.command-example {
	padding-left: 1rem;
}
